#Net Traffic Monitor Settings
#ID: The client's id. Note that the Id might change while connecting.
#ACCUMULATOR_ADDRESS: The server's address
#ACCUMULATOR_PORT: The server's port. Must be greater than 0 and less than or equal to 65535
#REFRESH_RATE:  How often the client will communicate with the server. How long until the server declares that the client has timed out.
#SNAP_LENGTH: The number of bytes that will be captured. An integer greater than or equal to 65535 should be sufficient.
#SNAP_TIMEOUT: Timeout for packet retrieval. 0 means no timeout.
#PACKET_BATCH_SIZE: Number of packets that will be processed in each loop before exit conditions are checked. -1 means loop until exit conditions are met.
#RECONNECT_ATTEMPTS: How may reconnect attempts should be made before the client fails without chance of recovery.
#============================#
#Tue Nov 04 01:21:08 EET 2014
RECONNECT_ATTEMPTS=10
REFRESH_RATE=50
ACCUMULATOR_PORT=24242
PACKET_BATCH_SIZE=50
ACCUMULATOR_ADDRESS=127.0.0.1
SNAP_TIMEOUT=10
SNAP_LENGTH=65535
